n8n-workflows/auto-github-repo-push.json
{
  "name": "Auto GitHub Repo Create & Push",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-repo",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{\n  json: {\n    projectName: body.projectName || 'new-project',\n    description: body.description || 'Auto-created project',\n    isPrivate: body.isPrivate !== false,\n    projectPath: body.projectPath || '/mnt/d/allfiles/Project'\n  }\n}];"
      },
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.projectName, description: $json.description, private: $json.isPrivate, auto_init: false }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "token YOUR_GITHUB_PAT_HERE"},
            {"name": "Accept", "value": "application/vnd.github+json"},
            {"name": "User-Agent", "value": "n8n-workflow"}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "name": "Create GitHub Repo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'GitHub repo created!', repoUrl: $json.html_url, repoName: $json.full_name, sshUrl: $json.ssh_url, pushCommand: 'cd ' + $('Extract Parameters').first().json.projectPath + '/' + $('Extract Parameters').first().json.projectName + ' && git init && git config user.name shawon2210 && git config user.email shawon2210 && git branch -m main && git add -A && GIT_EDITOR=\"cat\" git commit --no-edit -m \"feat: initial commit\" && git remote add origin ' + $json.ssh_url + ' && git push -u origin main' } }}"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Extract Parameters", "type": "main", "index": 0}]]
    },
    "Extract Parameters": {
      "main": [[{"node": "Create GitHub Repo", "type": "main", "index": 0}]]
    },
    "Create GitHub Repo": {
      "main": [[{"node": "Success Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
