n8n-workflows/auto-github-repo-push.json
{
  "name": "Auto GitHub Repo Create & Push",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-repo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract project details from webhook payload\nconst body = $input.first().json.body || $input.first().json;\n\nreturn [{\n  json: {\n    projectName: body.projectName || 'new-project',\n    description: body.description || 'Auto-created project',\n    isPrivate: body.isPrivate !== false,\n    projectPath: body.projectPath || '/mnt/d/allfiles/Project',\n    pushCode: body.pushCode !== false\n  }\n}];"
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "name", "value": "={{ $json.projectName }}" },
            { "name": "description", "value": "={{ $json.description }}" },
            { "name": "private", "value": "={{ $json.isPrivate }}" },
            { "name": "auto_init", "value": "false" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "create-github-repo",
      "name": "Create GitHub Repo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-pat",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "command": "cd {{$json[\"projectPath\"]}}/{{$json[\"projectName\"]}} && git init && git config user.name \"shawon2210\" && git config user.email \"shawon2210\" && git branch -m main && git add -A && GIT_EDITOR=\"cat\" git commit --no-edit -m \"feat: initial commit — {{$json[\"projectName\"]}}\" && git remote add origin git@github.com:shawon2210/{{$json[\"projectName\"]}}.git && git push -u origin main 2>&1"
      },
      "id": "push-code",
      "name": "Push Code to GitHub",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Repo created and code pushed!', repoUrl: $json.html_url, repoName: $json.full_name } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: 'Failed to create repo', error: $json } }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Extract Parameters", "type": "main", "index": 0 }]
      ]
    },
    "Extract Parameters": {
      "main": [
        [{ "node": "Create GitHub Repo", "type": "main", "index": 0 }]
      ]
    },
    "Create GitHub Repo": {
      "main": [
        [{ "node": "Check Success", "type": "main", "index": 0 }]
      ]
    },
    "Check Success": {
      "main": [
        [{ "node": "Push Code to GitHub", "type": "main", "index": 0 }],
        [{ "node": "Error Response", "type": "main", "index": 0 }]
      ]
    },
    "Push Code to GitHub": {
      "main": [
        [{ "node": "Success Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "automation" },
    { "name": "github" },
    { "name": "repo-management" }
  ]
}
